/* just for preview */
.container {
    padding-top: 40px;
}

body {font-family: 'Righteous', cursive;}

span {font-family: 'Courier New', cursive;}



@media screen and (max-width: 1200px) {
/*small*/
  .callout3
  {
float:none;
    display: none;
margin:left: 0px;
  }

  #textt {display: none}

  .callout2
  {
float:none;
margin:left: 0px;

  }
  .callout
  {
float:none;
margin:left: 0px;
   border-radius: 50px 50px;
   width:200px
  }

}
@media screen and (max-width: 809px) {
/*small*/
  #textt {display: none}
  #child_container {width: 100%}
  #container {width: 100%}
  #child_container2 {width: 100%; height: 200px;}
  #sticky{font-size:15px}
  #pace_title {font-size:50px; display:none}
  #parent_container {margin-top:0px}
  #index_buttons{height:200px}
  #duration  {height:150px}
  #pace2 {height:170px}
  #distance {height:170px}

  .navbar-brand  {font-size:15px; padding:4px;}
  .aref{font-size:15px; color:white;}
}



@media screen and (min-width: 809px) {
/*big*/
  #child_container{width: 50%}
  #container{width: 50%}
  #child_container2{width: 50%; height: 250px}
  #index_buttons{height:100px}
  #pace_title {font-size:100px}
  #parent_container {margin-top:15px}
  #duration {height:170px}
  #pace2 {height:190px}
  #distance {height:170px}
}

.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 65%;
  pointer-events: none;
  width: 100%;
  text-align: center;
  font-style: normal;
  padding-left: 110px
}

.input-icon-right > input {
  padding-left: 0;
  padding-right: 28px;
  text-align: center;
}

.callout
{

 width:125px
}
